
* {
  font-family: 'Alegreya Sans SC', sans-serif;
}

#h {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.list {
  width: 90%;
  max-width: 700px;
  margin: 2rem auto;
}
.list-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  
}
.list-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  
}
.list-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
 
}
.list-item-header.active::after {
  content: "\2212";
}
.list-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
}
.list-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}

.o3{
  background-color:rgba(255, 255, 255, .9);
  margin-right: 310px;
  margin-top: 100px;
  float: right;
  border-radius: 25px;
  margin-bottom: 100px;
  padding: 10px;
  border: 15px solid #fff;
  font-size: 20px;
  
}